data/
notebooks/
src/
evaluation/
assets/

python-dotenv
pandas
requests
beautifulsoup4
geopy

torch
sentence-transformers
langchain-core
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb

transformers
accelerate
bitsandbytes
